<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="../static/jquery/jquery-3.2.1.js" th:src="'/jquery/jquery-3.2.1.js'"></script>
    <script src="../static/js/home.js" th:src="'/js/home.js'"></script>
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body onload="github_profile()">
    <div class="container unauthenticated">
        With Github: <a href="/github/login">click here to login with github</a>
    </div>
    <div class="container authenticated" id="github" style="display : none">
        <img id="pic" src="" alt="200*300" height="200px" width="200px"/>
        Logged in as: <span id="user"></span>
    </div>
    <br/>
    <div>
        <a href="/logout">logout</a>
    </div>

</body>
</html>